.searchDiv{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchDiv div{
  position: relative;
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 35%;
}

.searchDiv input{
  padding: .7rem;
  width: 100%;
  border-radius: .5rem;
  outline: none;
  border: none;
}

.searchDiv .searchIcon{
  position: absolute;
  top: 30%;
  right: 1em;
  font-size: 1.2rem;
}

.backIconDiv{
  left:6em;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: .3em 2em;
  font-size: 1.1rem;
  transition: .5s ease;
  cursor: pointer;
  border-radius: .5rem;

}

.backIconDiv:hover{ 
  color: red;
}
